/* .contact_page {
    background-color: #111624;
    min-height: 100vh;
    max-height: fit-content;
    padding: 12cqw 4cqw 0cqw 4cqw;
    color: white;
} */
.contactPage {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  min-height: 100vh;
  background: #111624;
  color: #eaeaea;
}

.contactLeft {
  padding: 20cqw 4cqw;
  width: 45cqw;
}

.contactLeft h1 {
  font-size: clamp(3rem, 6vw, 4rem);
  font-weight: 400;
}

.contactLeft p {
  margin-top: 1rem;
  opacity: 0.7;
}

.contactGrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border-left: 1px solid rgba(255,255,255,0.1);
}
.contactCard {
  padding: 2.5rem;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;

  /* anchor reset */
  text-decoration: none;
  color: inherit;
}


.contactCard h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

.contactCard a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.arrow {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.contactCard:hover .arrow {
  opacity: 1;
  transform: translateX(4px);
}

@media (max-width: 768px) {
    .contactPage {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0;
    }

    .contactGrid {
        grid-template-rows: repeat(3, 1fr);
    }
}