.hero {
  min-height: 100vh;               /* full viewport height */
  background-image: url("../assets/hero_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(.5);

  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-end;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.content {
    color: white;
    z-index: 100;
    padding: 4cqw;
}

h1 {
    font-weight: 500;
    font-size: 4rem;
    text-shadow: #373737 0px 0 50px;
}

.action_button {
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    width: 75%;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.mission {
    color: black;
    display: flex;
    flex-direction: row;
    padding: 10cqw 4cqw;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

.mission_statement {
    color: black;
    width: 50%;
    padding: 10cqw 4cqw;
}

span {
    color: #1b89d6;
    font-weight: 500;
}

.mission_statement h2 {
    font-weight: 100;
    font-size: 3rem;
}

.vertical_divider {
    border: .1px solid #bdbdbd;
}

.service_overview {
    padding: 10cqw 4cqw;
}

.service_overview h3 {
    font-weight: 600;
    font-size: 2rem;
    color: #C2C2C2;
}

/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */
/*         H I G H L I G H T S            S E C T I O N     */
/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */

.hero_highlights_container {
    border-top: 1px solid #bdbdbd;
    border-bottom: solid #e3e3e3;
}

.hero_highlights h2 {
    font-weight: 100;
    font-size: 3rem;
}

.hero_highlights p {
    color: #746D6D;
}

.highlights_title {
    padding: 4cqw 4cqw;    
}

.highlights_content_container {
    display: flex;
    flex-direction: row;
}

.content_wrapper {
    display: flex;
    flex-direction: row;
    border: 3px solid yellow;
    width: 100%;
    padding: 0cqw 4cqw; 
    justify-content: space-between;
    gap:1rem;
}



.highlights_content{
    display: flex;
    flex-direction: column;
    border: 2px solid brown;
    width: 100%;
}

.highlights_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight_image_1 {
    height: 30rem;
    border: 2px solid red;
}

.highlight_image_2 {
    height: 60rem;
    border: 2px solid red;
}


/*
.section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;  Two equal columns 
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.left-column {
  padding: 60px;
  border-right: 1px solid #333; /* The vertical separator 
}

.right-column {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns the list to the right like your Figma 
}
*/