.hero {
  min-height: 100vh;               /* full viewport height */
  background-image: url("../assets/hero_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(.5);

  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-end;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.content {
    color: white;
    z-index: 100;
    padding: 4cqw;
}

.hero h1 {
    font-weight: 500;
    font-size: 4rem;
    text-shadow: #373737 0px 0 50px;
}

.action_button {
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    width: 75%;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */
/*         M I S S I O N                  S E C T I O N     */
/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */

.mission {
    color: black;
    display: flex;
    flex-direction: row;
    padding: 10cqw 4cqw;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

.mission_statement {
    color: black;
    width: 50%;
    padding: 10cqw 4cqw;
}

.mission_statement span {
    color: #6B758E;
    font-weight: 600;
}

.mission_statement h2 {
    font-weight: 200 !important;
    font-size: clamp(12px, 5cqw, 3rem);

}

.vertical_divider {
    border: .1px solid #bdbdbd;
}

.service_overview {
    padding: 10cqw 4cqw;
}

.service_overview h3 {
    font-weight: 600;
    font-size: clamp(12px, 5cqw, 2rem);
    color: #C2C2C2;
}

.service_overview ul {
    list-style-type: none;
    text-align: end;
    line-height: 2;
}

/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */
/*         H I G H L I G H T S            S E C T I O N     */
/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */

.hero_highlights_container {
    border-top: 1px solid #bdbdbd;
    /* border-bottom: solid #e3e3e3; */
    padding-bottom: 8cqw;
}


.hero_highlights h2 {
    font-weight: 200;
    font-size: clamp(12px,5vw,3rem);
    color: #999999;
}

.hero_highlights p {
    color: #746D6D;
}

.hero_highlights span {
    color: black;
}

.highlights_title {
    padding: 7cqw 0cqw 4cqw 4cqw;    
}

.highlights_content_container {
    display: flex;
    flex-direction: row;
    padding: 0cqw 4cqw; 
}

.content_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    /* justify-content: space-between;
    gap:1rem; */
}

.highlights_content{
    display: flex;
    flex-direction: column;
}

.highlights_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight_image_1 {
    width: clamp(300px, 29rem, 35rem);
}

.highlight_image_2 {
    height: clamp(100px, 50rem,40cqw);
}

.highlight_image_3 {
    width: clamp(300px, 29rem, 35rem);
}

.highlight_image_4 {
    margin-top: 30rem;
    height: clamp(100px, 50rem,40cqw);
}

.highlight_comment {
    margin-top: 20rem;
}

/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */
/*         V I E W          W O R K       S E C T I O N     */
/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */

.view_work_container, .view_clients_container {
    border-top: 1px solid #bdbdbd;
    /* border-bottom: solid #e3e3e3; */
    padding: 10cqw 4cqw;
}

.view_work_wrapper, .view_clients_wrapper {
    display: flex;
    justify-content: space-between;
}

.view_work_content_container {
    display: flex;
    align-items: center;
}

/* .view_work_content_container h2, .view_clients_container h2{
    font-weight: 600;
    color: #303030;
    font-size: 3rem;
} */

.view_work_content_container p {
    font-size: 1.5rem;
}

.black_button {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    min-width: 20cqh;
}


/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */
/*        V I E W       C L I E N T S     S E C T I O N     */
/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */

.view_clients_wrapper{
    justify-content: space-evenly;
}

.client_container {
    height: 15rem;
    width: 25rem;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 1px;
    margin: 3cqw 0cqw;
}

.client_container img{
    height: 100%;
    width: 100%;
    padding: 4cqw;
}

/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */
/*        H E R O     C L O S I N G    S E C T I O N        */
/*                                                          */
/*                                                          */
/*                                                          */
/*                                                          */

.hero_closing_container {
    border-top: 1px solid #bdbdbd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero_closing_wrapper {
    
    padding: 4cqw;
}

.closing_images_container {
    /* border: 1px solid orange; */
}

.closing_info_container {
    /* border: 1px solid green; */
}

.hero_closing_container {
    border-top: 1px solid #bdbdbd;
    display: flex;
}

/*                                                          */
/*        C L O S I N G            L E F T                  */
/*                                                          */

.closing_container_left {
    width: 50%;
    padding: 4cqw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.closing_images_container {
    display: flex;
    flex-direction: column;
}

.closing_images_row {
    display: flex;
    flex-direction: row;
}

.closing_image {
    height: 20rem;
    width: clamp(22cqw);
    background-color: #373737;
    margin: 1px;
}

.closing_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*                                                          */
/*        C L O S I N G           R I G H T                 */
/*                                                          */

.closing_container_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: flex-end;
    border-left: 1px solid #bdbdbd;
}

.closing_container_right p {
    font-size: 1.6rem;
    line-height: 1.2;
}

.right_row_wrapper {
    padding: 4cqw;
}

.container_right_contact_container {
    display: flex;
    padding: 1cqw 4cqw;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bdbdbd;
}

.container_right_contact_container h5 {
    font-size: 1.2rem;
    font-weight: 200;
}

@media (max-width: 768px) {
    .mission {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mission_statement h2 {
    font-weight: 100;
    }

    .mission_statement {
        width: 100%;
    }

    .service_overview {
        padding: 0 4cqw;
    }

    .service_overview ul{
        text-align: center;
    }

    .vertical_divider {
    width: 100%;
    border: 1px dashed #FABD2A;
    }

    .content_wrapper {
        flex-direction: column;
    }

    .highlight_comment {
        margin-top: 1rem;
    }

    .hero_closing_container {
        flex-direction: column;
    }

    .highlight_image_4 {
        margin-top: 0;
    }

    .client_container {
        height: 9rem;
        width: 12rem;
        border: 0px;
    }

    .closing_container_left, .closing_container_right {
        width: 100%;
    }

    .highlight_image_3 {
        align-self: center;
    }

    .content_wrapper {
        overflow: hidden;
    }

    .view_work_content_container h2 {
        display: none;
    }

    .view_work_content_container p {
            font-size: clamp(12px, 5vw, 3rem);
    }
  
    .closing_container_right p {
        font-weight: 200 !important;
        font-size: clamp(12px, 5cqw, 3rem);
    }
}

