* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  overscroll-behavior: none;
}

/* Global font and body defaults */
body {
  font-family: "neue-haas-grotesk-display", sans-serif; 
  background-color: #FEFEFB;  
}

h2 {
  font-weight: 500;
  color: #303030;
  font-size: clamp(12px, 5vw, 3rem);
}